body {
    background-color: #2e92ba;
    font-family: 'VT323', monospace;
    min-height: 100vh;
    min-width: 1024px;
    padding: 100px;
    margin: 0;
}

.main {
    position: relative;
    z-index: 3;
    background: white;
    padding: 32px;
    border: solid 2px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: none;
    margin: auto;
    max-width: 800px;

}

.nav-item {
    padding-inline: 7px;
}

.nav-item::first-letter {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 7px;
    border: double 4px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.content {
    display: inline;
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px;
    width: 100%;
    border: 2px solid black;
    border-right: none;
    border-bottom: 1px solid black;
}

.nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    border-bottom: 2px dotted black;
}

.description {
}

img {
    max-width: 100px;
    max-height: 100px;
}

article::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 32px;
    left: 32px;
    z-index: 2;
}

article {
    width: 50%;
    max-width: 800px;
    margin: 0 auto -150px;
    box-sizing: content-box;
    position: relative;
}

.checkerboard-shadow::before {
	background-image: linear-gradient(45deg, #333 25%, transparent 25%), linear-gradient(135deg, #333 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #333 75%), linear-gradient(135deg, transparent 75%, #333 75%);
	background-size: 4px 4px;
	background-position: 0 0, 2px 0, 2px -2px, 0 2px;
}